.layout {
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background: white;
    padding: 3rem 0;
    width: 500px;
    box-sizing: border-box;
    height: 400px;

    .box {
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        /* max-width: 60%; */
        transition: all 1s cubic-bezier(0.52, -0.76, 0.52, 1.65);
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    }
    .box .front {
        position: relative;
        width: 100%;
        height: 100%;
        background: #262626;
        backface-visibility: hidden;
        transform: perspective(1000px) rotateY(0deg);
        transition: 1s;
    }
    .box:hover .front {
        transform: perspective(1000px) rotateY(180deg);
    }
    .box .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        backface-visibility: hidden;
        transform: perspective(1000px) rotateY(-180deg);
        transition: 1s;
    }

    .box:hover .back {
        transform: perspective(1000px) rotateY(0deg);
    }

    /**********  front  **************/
    .box .front .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        line-height: 2rem;
    }
    .box .front .center img {
        width: 70%;
    }
    .box .front .center p {
        font-size: 1rem;
        color: #fff;
        white-space: nowrap;
        text-decoration: overline;
    }

    /**********  back  **************/
    .box .back .row {
        position: relative;
        width: 100%;
        height: 50%;
    }
    .box .back .row:nth-of-type(1) {
        background: #fff;
        border-bottom: 10px solid #f00;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        gap: 4rem;

        .title {
            display: flex;
            flex-direction: column;

            & h1 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }

            & h3 {
                margin: unset;
            }
        }
    }
    .box .back .row:nth-of-type(2) {
        background: #262626;
        padding: 20px 30px;
        box-sizing: border-box;
    }

    .box .back .row img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: top;
    }
    .box .back .row h1 {
        font-size: 25px;
        color: #262626;
        white-space: nowrap;
        display: inline-block;
    }
    .box .back .row span {
        position: relative;
        display: block;
        font-size: 20px;
        color: #fff;
        box-sizing: border-box;
        padding: 0 0 0 35px;
        margin-bottom: 5px;

        a {
            text-decoration: none;
            color: unset;
        }
    }
    .box .back .row span::before {
        content: "";
        font-family: "fontAwesome";
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        color: #fff;
        font-size: 20px;
    }
    .box .back .row span:nth-of-type(1)::before {
        content: "\f095";
    }
    .box .back .row span:nth-of-type(2)::before {
        content: "\f003";
    }
    .box .back .row span:nth-of-type(3)::before {
        content: "\f041";
    }

    .action {
        display: flex;
        gap: 0.5rem;
        justify-content: space-evenly;

        & button {
            cursor: pointer;
            color: #ffe6dc;
            border: none;
            border-radius: 25px;
            padding: 0.5rem 2rem;
            background-color: #5a1a01;

            &:hover,
            &:active {
                background-color: #7a2706;
            }
            &:disabled {
                cursor: not-allowed;
                background-color: grey;
            }
        }
    }
}

.download_back {
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background: white;
    padding: 3rem 0;
    width: 500px;
    box-sizing: border-box;
    height: 400px;
    position: fixed;
    top: -95%;
    left: 50%;
    .box {
        position: relative;
        top: -95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: all 1s cubic-bezier(0.52, -0.76, 0.52, 1.65);
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
        z-index: -100;
    }

    .box .front {
        position: relative;
        width: 100%;
        height: 100%;
        background: #262626;
        backface-visibility: hidden;
        transform: perspective(1000px) rotateY(0deg);
        transition: 1s;
    }

    /**********  front  **************/
    .box .front .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        line-height: 2rem;
    }
    .box .front .center img {
        width: 70%;
    }
    .box .front .center p {
        font-size: 1rem;
        color: #fff;
        white-space: nowrap;
        text-decoration: overline;
    }
}

.download_front {
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background: white;
    padding: 3rem 0;
    width: 500px;
    box-sizing: border-box;
    height: 400px;
    position: fixed;
    top: -95%;
    left: 50%;

    .box {
        position: relative;
        top: -95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: all 1s cubic-bezier(0.52, -0.76, 0.52, 1.65);
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
        z-index: -100;
    }
    .box .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        backface-visibility: hidden;
        transition: 1s;
    }

    .box .back {
        transform: perspective(1000px) rotateY(0deg);
    }

    /**********  back  **************/
    .box .back .row {
        position: relative;
        width: 100%;
        height: 50%;
    }
    .box .back .row:nth-of-type(1) {
        background: #fff;
        border-bottom: 10px solid #f00;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        gap: 4rem;

        .title {
            display: flex;
            flex-direction: column;

            & h1 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }

            & h3 {
                margin: unset;
            }
        }
    }
    .box .back .row:nth-of-type(2) {
        background: #262626;
        padding: 20px 30px;
        box-sizing: border-box;
    }

    .box .back .row img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: top;
    }
    .box .back .row h1 {
        font-size: 25px;
        color: #262626;
        white-space: nowrap;
        display: inline-block;
    }
    .box .back .row span {
        position: relative;
        display: block;
        font-size: 20px;
        color: #fff;
        box-sizing: border-box;
        padding: 0 0 0 35px;
        margin-bottom: 5px;

        a {
            text-decoration: none;
            color: unset;
        }
    }
    .box .back .row span::before {
        content: "";
        font-family: "fontAwesome";
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        color: #fff;
        font-size: 20px;
    }
    .box .back .row span:nth-of-type(1)::before {
        content: "\f095";
    }
    .box .back .row span:nth-of-type(2)::before {
        content: "\f003";
    }
    .box .back .row span:nth-of-type(3)::before {
        content: "\f041";
    }
}
